{% extends "app/layout.html" %}
{% block content %}

<div class="row " >
    <div class="header-photo" >
        <h2>{{album.name}}</h2>
        <h3>{{album.description}}</h3>
    </div>
</div>
<div class ="container" >
    <div class="row" >
        {% for photo in images %}
        <div class="col span-1-of-3" >
            <div class="panel">
                <img class="image" src="{{photo.image.url}}" alt="Responsive image">
                <div class="photo-text" >
                    <h3>{{ photo.title }}</h3>
                    <p>{{ photo.caption }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}

                        </div>
                        <div class="row">

        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="float-btn" >
    <a href="{% url 'add_photo' album.id %}"><i class="ion-android-add icon-big" ></i></a>
</div>

<div id="Mymodal"  class="modal">
            <span class="close" id ="close" >&times;</span>
            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
            
            
</div>

{% endblock %}